body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: grey;
}


.main-container{
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.white{
    background-color: rgb(234, 145, 11);
    width: 12.5%;
    height: 100px;
}

.black{
    background-color: rgb(193, 193, 181);
    width: 12.5%;
    height: 100px;
}

i{
    margin-top: 43px;
}

.fas{
    font-size: 60px;
}